<div class="secrets">
<!--   <div class="wedge"></div>
  <div class="guile idle"></div>
  <div class="guile walking"></div> -->
</div>
<div id="stage">
  <div id="wedge"></div>
</div>
<hr>
<div class="snes-ctrl" style="height: 200px">
  <div class="top-row" style="margin-left: 52px;">
    <span class="fa fa-arrow-up fa-4x" ng-click="walkNorth()"></span>
  </div>
  <div class="middle-row">
    <span class="fa fa-arrow-left fa-4x" ng-click="walkWest()"></span>&nbsp;
    <span style="padding: 0 26px"></span>
    <span class="fa fa-arrow-right fa-4x" ng-click="walkEast()"></span>
  </div>
  <div class="bottom-row" style="margin-left: 52px;">
    <span class="fa fa-arrow-down fa-4x" ng-click="walkSouth()"></span>
  </div>
  <button class="btn btn-dark" ng-click="resetMagitek()">:reset:</button>
</div>

