<div class="secrets">
<!--   <div class="wedge"></div>
  <div class="guile idle"></div>
  <div class="guile walking"></div> -->
</div>
<div id="stage">
  <div id="wedge"></div>
</div>
<hr>
<div id="controls" class="d-pad">
  <div class="up">
    <span class="fa fa-arrow-up fa-4x" ng-click="walkNorth()"></span>
  </div>
  <div class="left">
    <span class="fa fa-arrow-left fa-4x" ng-click="walkWest()"></span>
  </div>
  <div class="right">
    <span class="fa fa-arrow-right fa-4x" ng-click="walkEast()"></span>
  </div>
  <div class="down">
    <span class="fa fa-arrow-down fa-4x" ng-click="walkSouth()"></span>
  </div>
  <button class="btn btn-default" ng-click="resetMagitek()">:reset:</button>
</div>

