// Mixins

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
@mixin direction($direction) {
    -webkit-animation-direction: $direction;
    animation-direction: $direction;
}

// generic transform

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// animation

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// usage

@include keyframes(slide-down) {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@include keyframes(spiral) {

}

@include keyframes(noise-anim-2) {
  0%{clip:rect(40,9999px,35px,0);}
  5%{clip:rect(11px,9999px,5px,0);}
  10%{clip:rect(63px,9999px,14px,0);}
  15%{clip:rect(60,9999px,8px,0);}
  20%{clip:rect(79px,9999px,68px,0);}
  25%{clip:rect(4px,9999px,52px,0);}
  30%{clip:rect(3px,9999px,37px,0);}
  35%{clip:rect(14px,9999px,29px,0);}
  40%{clip:rect(87px,9999px,89px,0);}
  45%{clip:rect(13px,9999px,37px,0);}
  50%{clip:rect(96px,9999px,74px,0);}
  55%{clip:rect(50,9999px,4px,0);}
  60%{clip:rect(32px,9999px,4px,0);}
  65%{clip:rect(33px,9999px,52px,0);}
  70%{clip:rect(68px,9999px,25px,0);}
  75%{clip:rect(44px,9999px,83px,0);}
  80%{clip:rect(88px,9999px,32px,0);}
  85%{clip:rect(81px,9999px,38px,0);}
  90%{clip:rect(48px,9999px,39px,0);}
  95%{clip:rect(19px,9999px,94px,0);}
  100%{clip:rect(48px,9999px,30px,0);}
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
