// Mixins

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
@mixin direction($direction) {
  -webkit-animation-direction: $direction;
  animation-direction: $direction;
}

// generic transform

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

// animation

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// usage

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes(fade-out) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wedge {
  height: 40px;
  width: 40px;
  background: url('../images/lk-look-right.png');
  &:hover {
    animation: walk-across 6s 2;
  }
}

@keyframes walk-down {
  20% {
    background-image: url('../images/left.png');
  }
  40% {
    background-image: url('../images/right.png');
  }
  60% {
    background-image: url('../images/left2.png');
  }
  80% {
    background-image: url('../images/right2.png');
  }
  100% {
    background-image: url('../images/fini.png');
  }
}

@keyframes walk-across {
  10% {
    background-image: url('../images/lk-look-right.png');
  }
  20% {
    background-image: url('../images/lk-right.png');
  }
  25% {
    background-image: url('../images/lk-look-right.png');
  }
  30% {
    background-image: url('../images/lk-left.png');
  }
  35% {
    background-image: url('../images/lk-look-right.png');
  }
  40% {
    background-image: url('../images/lk-right.png');
  }
  45% {
    background-image: url('../images/lk-look-right.png');
  }
  50% {
    background-image: url('../images/lk-left.png');
  }
  55% {
    background-image: url('../images/lk-look-right.png');
  }
  60% {
    background-image: url('../images/lk-right.png');
  }
  65% {
    background-image: url('../images/lk-look-right.png');
  }
  70% {
    background-image: url('../images/lk-left.png');
  }
  90% {
    background-image: url('../images/lk-arms-down.png');
  }
  100% {
    background-image: url('../images/lk-look-right.png');
  }
}

#wedge {
  height: 40px;
  width: 36px;
  background: url('../images/wedge01.png') -200px -580px no-repeat;
}

#stage {
  width: 216px;
}
