// palette colors
$c-prim-0: #EDE4E9;
$c-prim-1: #FAA3CF;
$c-prim-2: #E3C3D3;
$c-prim-3: #DAA4BF;
$c-prim-4: #DC0070;
$rgb-prim-0: rgba(237,228,233,1);
$rgb-prim-1: rgba(250,163,207,1);
$rgb-prim-2: rgba(227,195,211,1);
$rgb-prim-3: rgba(218,164,191,1);
$rgb-prim-4: rgba(220,  0,112,1);

// older palette
$c-primary-0: #1097FF;
$c-primary-1: #A9DAFF;
$c-primary-2: #79C5FF;
$c-primary-3: #004F8B;
$c-primary-4: #003D6B;

$rgba-primary-0: rgba( 16,151,255,1);
$rgba-primary-1: rgba(169,218,255,1);
$rgba-primary-2: rgba(121,197,255,1);
$rgba-primary-3: rgba(  0, 79,139,1);
$rgba-primary-4: rgba(  0, 61,107,1);

