$f-core: 'Helvetica Neue', Helvetica, TeXGyreHeros, FreeSans, 'Nimbus Sans L', 'Liberation Sans', Helvetica, Arial, sans-serif;
$f-heading: 'Neuton', 'Hoefler Text', 'Palatino', 'Baskerville', 'Georgia', 'Times New Roman', serif;
$f-body: $f-core;
$f-mono: "Anonymous Pro for Powerline", "Menlo", "Monaco", "Courier New", monospace;
